language: python

cache:
  - pip
  - /home/travis/.cpan

env:
  matrix:
    - CONSUMER="madworx/docker-minix 3.4.0rc6"
    - CONSUMER="madworx/docker-netbsd 9.0"

stages:
  - name: "Try auto-upgrade"
    if: type = cron OR branch = build-by-travisci
  - name: "Build image"
    if: type != cron AND branch != build-by-travisci
  - name: "Test"
    if: type != cron AND branch != build-by-travisci
  - name: "Submit pull request"
    if: branch ~= /^autobuild-/
  - name: "Publish artifacts"
    if: branch = master AND type = push

before_script:
  - source <(curl 'https://raw.githubusercontent.com/madworx/cd-ci-glue/master/src/cd-ci-glue.bash')
  - source travis-functions.sh
  - pip install awscli
  - export PATH="${PATH}:/home/travis/perl5/bin"
  - export PERL5LIB="${PERL5LIB}:/home/travis/perl5/lib/perl5"
  - export ECRREPO="$(awsecr_login)"
  - export ECRIMG="${ECRREPO}/madworx/qemu:travisbuild-${TRAVIS_BUILD_NUMBER}"

script:
  - docker pull "${ECRIMG}"
  - docker tag "${ECRIMG}" "madworx/qemu:latest"
  - git clone --depth 1 "https://github.com/${CONSUMER/ */}"
  - cd "$(basename "${CONSUMER/ */}")"
  - if [ -d tools ] ; then cpanm --local-lib=~/perl5 local::lib ; cpanm --quiet --installdeps --notest ./tools ; fi
  - MINIX_VERSION="${CONSUMER/* /}" NETBSD_VERSION="${CONSUMER/* /}" make build test

jobs:
  include:
    - stage: "Try auto-upgrade"
      env: CONSUMER
      script:
        - echo "Attempting to auto-upgrade if there's a new version to be had."
        - export LATEST_QEMU="$(github_releases_get_latest qemu/qemu)"
        - export CURRENT_QEMU="$(make version)"
        - |
          if [[ "${CURRENT_QEMU}" != "${LATEST_QEMU}" ]] ; then
            ensure_autoupgrade_branch
            set_makefile_qemu_version "${CURRENT_QEMU}" "${LATEST_QEMU}"
            echo "Attempting to re-integrate patches."
            make reintegrate-qemu-release || exit 1
            create_autobuild_branch "${LATEST_QEMU}"
          fi
    - stage: "Build image"
      env: CONSUMER
      script:
        - make build
        - docker tag "madworx/qemu:latest" "madworx/qemu:travisbuild-${TRAVIS_BUILD_NUMBER}"
        - awsecr_push_image "madworx/qemu:travisbuild-${TRAVIS_BUILD_NUMBER}"
    - stage: "Publish artifacts"
      env: CONSUMER
      script:
        - docker pull "${ECRIMG}"
        - for TAG in $(make docker-tags) ; do docker tag "${ECRIMG}" "madworx/qemu:${TAG}" ; done
        - docker tag "${ECRIMG}" "madworx/qemu:latest"
        - "! is_travis_master_push && echo 'Not really publishing since not on master' || dockerhub_push_image madworx/qemu:latest"
        - is_travis_master_push && for TAG in $(make docker-tags) ; do dockerhub_push_image madworx/qemu:${TAG} ; done
    - stage: "Submit pull request"
      env: CONSUMER
      script:
        - echo "Apparently autobuild worked. Generate a PR with the code changes."
        - create_pr_if_not_exists
        - merge_autobuild_against_autoupgrade
